[Unit]
Description=ExerciseDiary
Documentation=https://github.com/aceberg/ExerciseDiary
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/pi/workplace/exercisedaily_dev/ExerciseDiary/ExerciseDiary /home/pi/workplace/exercisedaily_dev/ExerciseDiary/exercise_data
Restart=on-failure

[Install]
WantedBy=multi-user.target
